/* Home			 */
/* ------------- */

@media (max-height: 780px) {
	.template-home #page footer.main {
	    position: relative;
	    width: initial;
	    margin: 0 -50vw;
    	padding: 2rem 50vw;
	}
}


/* large screens */
/* ------------- */

@media (max-width: $large) {
	.template-home #page, .template-page #page, .container {
	    width: 100%;
	    margin: 0;
	}

	.full-width {
		margin: 0;
		padding: 0;
		width: 100%;
	}

}


/* medium screens */
/* -------------- */

@media (max-width: $large - 1 ) {


}


/* small screens */
/* ------------- */

@media (max-width: $medium - 1 ) {
	body {
		background: #61752d url(../img/bg-mobile.jpg) top left no-repeat;
		background-size: cover;
		&>video {
			display: none;
		}
	}

	.mobile-hidden {
		display: block;
	}

	#logo {
	    float: none;
	    text-align: center;
	    margin: 0;
	}

	.nav-button {
      display: block;
      margin-top: -26px;
    }


    #main-nav {
    	display:none
    }

	#menu-mobile {
		display: block;
		margin-top: 12px;
    	opacity: 0;
    	li {
    		background: rgba(255,255,255,0.5);
		    padding: 0.5em;
		    margin: 0.2em 0;
    	}
    	a {
		    width: 100%;
		    color: #fff;
		    text-shadow: 2px 3px 5px rgba(0,0,0,.75);
		    font-size: 1.6em;
		    text-align: center;
		}
	}

    #menu-top {
	    width: 100%;
	    text-align: right;
	    background: none;
    	padding-left: 0; 
	    li {
		    display: inline;
		    padding: 8px;
		    background: rgba(255,255,255,0.25);
		    text-align: right;
		    margin: 0 0 0 0.4em;margin: 0.2em 0;
		}
	}

    footer.main {
    	margin: 0;
    	padding: 1em;
    	text-align: center;
    	&>div {
    		padding: 1em 0;
    	}
    }

    footer.main>div>div {
	    padding: 1em 0;
	}
}


/* tiny screens */
/* ------------ */

@media (max-width: $small - 1) {


}