/*
 * Styleguide
 * Layout & mixins
 * par Alsacréations - 2016
 */

 // variables list for Styleguide (if used)
 $colors: (
   color1: $color1,
   color2: $color2,
   color3: $color3,
   color4: $color4,
   color5: $color5,
   base-color: $color1,
   link-color: $color3,
   base-background : $color2,
   link-hover-color: $color4,
   brand-primary: $color5
 );
 
/*
 * Sass Mixins
 */
// mixin pour afficher la valeur de font-size
@mixin fontsize($fontsize) {
  &::after {
    content: "#{$fontsize}";
    @extend .sg-code-inline;
    margin-left: $small-value;
    font-weight: normal;
    vertical-align: middle;
  }
}

// mixin pour afficher le code hexadécimal d'une couleur
@mixin hexa($sassvar, $sasscolor) {
  &::before {
    background: #{$sasscolor};
  }
  &::after {
    content: "$#{$sassvar}";
  }
}

// mixin pour afficher la font-family
@mixin font($font) {
  &::before {
    content: "#{$font}";
    font-weight: bold;
  }
}


/*
 * Layout
 */

/* body */
.sg {
  position: relative;
  padding: 0;
  background-color: #fff;
  font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
}
h1, h2, h3 {font-weight: normal}
h1 {margin-top: 0; margin-bottom: 0}


/* Header */
.sg-header {
  position: relative;
  padding: $medium-value;
  margin-bottom: $small-value;
  text-align: center;
  background: #F8F8F8;
  h1 {
    font-size: 4.5rem;
    color: $brand-primary;
  }
  h2 {
    margin-top: 0;
    color: #777;
    font-size: 2rem;
  }

  .icon-kiwi-leaf {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
  .icon-pepins {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}


/* Sidebar/Menu */
.sg-menu {
  position: absolute;
    top: 19rem; left: 2rem;
  display: none;
  width: 22rem;
  padding: $medium-value;
  background: #F8F8F8;

  &.is-fixed {
    position: fixed;
      top: 2rem;
  }
}
@media (min-width: 768px) {
  .sg-menu {
    display: block;
  }
}
/* Menu with Tocify */
.tocify-header {
  margin: 0;
  padding: 0;
  list-style-type: none;

  ul {
    margin: 0 0 $small-value;
    padding-left: $medium-value;
    list-style-type: none;
    font-size: 90%;
  }
}
.tocify-item {
  margin: 0;
  padding: $tiny-value 0;

  a {
    padding-bottom: .25rem;
    text-decoration: none;
    border-bottom: 0 solid;

    &:focus, &:hover {
      border-bottom-width: 1px;
    }
  }
}
.tocify-focus {
  a {
    font-weight: bold;
    color: $brand-primary;
  }
}
.tocify-subheader {
  display: none;
}
.tocify-extend-page {
  display: none !important;
}


/*
 * Typography
 */
/* main title */
.sg-title {
  margin-top: $small-value;
  font-size: $h1-size;
}
/* copyright */
.sg-copyright {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
}
/* section title */
.sg-section {
  & > h2.sg {
    padding-bottom: .15em;
    font-size: $h1-size;
    color: #333;
    border-bottom: 2px solid #eee;
  }
  &:first-child > h2.sg {
    margin-top: 0;
  }
}
.sg-text h3.sg {
  color: #333;
  border-left: 4px solid $brand-primary;
  padding-left: 10px;
}
/* text */
.sg-text {
  p {
    line-height: 2;
  }
}


/*
 * Styleguide Content
 */
.sg-content {
  position: relative;
  padding: $medium-value;
}
@media (min-width: 768px) {
  .sg-content {
    margin-left: 24rem;
    padding: $medium-value $large-value;
  }
}

/* section */
.sg-section {
  margin-bottom: $extra-large-value;
}

/* example & canvas */
.sg-example {
  margin-top: $small-value;
  margin-bottom: $medium-value;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
.sg-canvas {
  position: relative;
  padding: $large-value 3rem;
  overflow-x: auto;
}


/*
 * Code
 */
/* inline: <code> */
code,
code.sg,
.sg-code-inline {
  display: inline-block;
  padding: .2rem .5rem;
  font-family: $font-stack-monospace;
  font-size: 1.4rem;
  white-space: nowrap;
  border: solid 1px #eaeaea;
  border-radius: 2px;
  background-color: #f8f8f8;
}

/* block: <pre> */
.sg-code {
  padding: $medium-value;
  margin-top: 0;
  font-family: $font-stack-monospace;
  font-size: 1.4rem;
  line-height: 1.6;
  border-top: solid 1px #eaeaea;
  background-color: #f8f8f8;
}
/* markup color */
.sg-code .hljs-tag,
.sg-code .hljs-title {
  color: #2f6f9f;
}
.sg-code .hljs-attribute {
  color: #4f9fcf;
}
.sg-code .hljs-string,
.sg-code .hljs-number,
.sg-code .hljs-value {
  color: #d44950;
}
.sg-code .hljs-comment {
  color: #999988;
}
/* toggle button */
.sg-code-toggle {
  position: absolute;
    right: 0; bottom: 0;
  width: 100px;
  padding: $tiny-value;
  text-align: center;
  font-size: 1.3rem;
  color: #777;
  background-color: #FFF;
  border: 1px solid #DDD;
  border-width: 1px 0 0 1px;
  border-top-left-radius: 3px;

  &:focus, &:hover {
    background-color: #f8f8f8;
  }
}




/*
 * Colors section
 */
// pour cacher le bouton "show markup"
.sg-section-couleurs {
  .sg-code-toggle {
    display: none;
  }
}

.sg-color {
  & + & {
    margin-top: $large-value;
  }
}

.sg-color-item {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  border: solid 1px #eaeaea;

  & {
    margin: $small-value;
  }

  // color example
  &::before {
    content: '';
    display: block;
    height: 80px;
  }

  // code hexadécimal
  &::after {
    display: block;
    @extend .sg-code-inline;
  }

  // Couleurs
  $i: 0;
  @each $var, $col in $colors {
    &:nth-child(#{$i}) {
      $i : $i + 1;
      @include hexa($var, $col);
    }
  }

}



/*
 * Fonts section
 */
[class*="sg-font-"] {
  & + & {
    margin-top: $medium-value;
  }
}
// pour cacher le bouton "show markup"
.sg-section-fonts {
  .sg-code-toggle {
    display: none;
  }
}
.sg-font-common {
  font-family: $font-stack-common;
  @include font($font-stack-common);
}
.sg-font-headings {
  font-family: $font-stack-headings;
  @include font($font-stack-headings);
}
.sg-font-monospace {
  font-family: $font-stack-monospace;
  @include font($font-stack-monospace);
}

/*
 * Title section
 */
.sg-section-titres {
  h1 { @include fontsize(h1-size); }
  h2 { @include fontsize(h2-size); }
  h3 { @include fontsize(h3-size); }
  h4 { @include fontsize(h4-size); }
  h5 { @include fontsize(h5-size); }
  h6 { @include fontsize(h6-size); }
}

/*
 * Grids section
 */
.sg-grid {
  & + & {
    margin-top: $medium-value;
  }

  & > * {
    padding: $medium-value;
    background: #f8f8f8;
  }
}


/*
 * Bloc alignment section
 */
.sg-align-block {
  padding: $medium-value;
  background: #f8f8f8;

  & + & {
    margin-top: $medium-value;
  }
}
.sg-align-float {
  padding: $medium-value;
  background: #f8f8f8;
  @extend .clearfix;

  & + & {
    margin-top: $medium-value;
  }

  & > div[class*="f"] {
    padding: $small-value;
    background: #ddd;
  }
}
